.grid-container {
  --grid-rows: 6;
  --grid-cols: 6;
  --grid-highlight-color: #087BD4;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  width: 600px;
  height: 600px;
  background-color: #eee;
  border: 0.5rem solid #eee;
  margin: 0 auto;
  border-radius: 4px;
}

.grid-container .square {
  border-radius: 4px;
  background-color: #fff;
}

.grid-container .square[data-token] {
  background-color: var(--grid-highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.grid-container .square[data-highlight] {
  filter: brightness(150%);
}

.grid-container .square:after {
  content: attr(data-connected-count);
  position: absolute;
}
