body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.controls {
  margin: 0 auto;
  width: 600px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.label {
  color: rgb(87, 86, 86);
  margin-right: 1rem;
}

.grid-size{
  margin: 1rem auto;
  width: 600px;
  font-weight: 600;
  text-align: center;
}
